@page "/Suppliers"
@using Northwind.Web.Pages.SupplierPages
@model SuppliersModel

<div class="row">
    <h1 class="display-2">
        Suppliers
        <a class="btn btn-outline-primary" href="/Supplier/Create">Create Suppiler</a>
    </h1>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Company Name</th>
                <th>Country</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Suppliers is not null)
            {
                int counter = 1;
                @foreach (var supplier in Model.Suppliers)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@supplier.CompanyName</td>
                        <td>@supplier.Country</td>
                        <td>@supplier.Phone</td>
                    </tr>
                    counter++;
                }
            }
        </tbody>
    </table>
</div>
